[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apache-airflow = "*"
apache-airflow-providers-amazon = "*"
apache-airflow-providers-google = "*"
apache-airflow-providers-postgres = "*"
apache-airflow-providers-sqlite = "*"

[requires]
python_version = "3.9"